@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@media (max-width: 480px) {
    body{
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    
    

    

    .navigation{
        width: 360px;
        position: fixed;
        left: 200px;

    }

    .logo{
        width: 130px;
        height: 40px;
        /* background-color: green; */
        position: relative;
        top: 5px;
    }

    .the-navs{
        display: none;

    }
    .Login{
        display: none;;
    }


    .menu{
        height: 40px;
        width: 40px;
        /* background-color: green; */
        position: absolute;
        right: 20px;
        top: 15px;
        color: #1C2582;
        display: block;
    }

    .menu i{
        font-size: 34px;
    }



}


